/* style.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.terminal {
    font-family: 'Courier New', monospace;
    color: #33ff33;
    background-color: black;
    padding: 20px;
    height: 100%;
    overflow: auto;
    position: relative;  
}
.cursor {
    position: absolute;
    right: 0;
    border-right: 4px solid red; /* Adjust the color as needed */
    animation: blink 1s steps(1) infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
 
  
li {
    list-style-type: none;
    margin-bottom: 10px;
}
